<%- include ('../partials/header') -%>

    <header class="jumbotron">
        <div class="container text-right">
            <h1 class="font-weight-bold">Welcome To sEATtle on keto!</h1>
            <p>View keto friendly locations in and around Seattle</p>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <% locations.forEach(function(location) { %>
            <div class="card mb-3 border-0">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="<%= location.image %>" class="card-img card-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title raleway font-weight-bold"><%= location.name %></h5>
                            <p class="card-text"><%= location.description %></p><br>
                            <a href="/locations/<%= location._id %>" class="btn btn-sm btn-dark raleway">See More</a>    
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>    
        </div>
    </div>

<%- include ('../partials/footer') -%>
