<%- include ('../partials/header') -%>


<div class="container">



    <div class="row">
            <% locations.forEach(function(location) { %>
            <div class="col-md-4 mb-5">
              <div class="card h-100">
                <img class="card-img-top" src="<%= location.image %>" alt="">
                <div class="card-body">
                  <h4 class="card-title"><%= location.name %></h4>
                  <p class="card-text"><%= location.description %></p>
                </div>
                <div class="card-footer text-center">
                  <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
              </div>
            </div>
            <% }) %>    
</div>

<%- include ('../partials/footer') -%>
