<%- include ('../partials/header') -%>

<div class="container" id="show-container">
  <div class="row">
    <div class="col-md-7">
      <div class="thumbnail">
        <img class="img-fluid" src="<%= location.image %>" alt="" />
        <div class="caption-full">
          <h3><a href=""><%= location.name %></a></h3>
          <h6 class="type-kids"><%= location.restaurantType %>&nbsp - &nbsp<%= location.foodType %></h6>
          <h6 class="type-kids">Kid friendly - <%= location.kids %></h6>
          <hr>
            <div id="links">
                    <% if(location.website) { %>
                        <li class="link-list web-links">
                          <i class="fas fa-globe"></i>
                          <strong>&nbsp Website</strong
                          ><a href="<%= location.website %>"> - <%= location.website %></a>
                        </li>
                        <% } %> <% if(location.menu) { %>
                        <li class="link-list web-links">
                          <i class="fas fa-utensils circle-icon"></i>
                          <strong>&nbsp &nbspMenu</strong>
                          <a href="<%= location.menu %>"> - <%= location.menu %></a>
                        </li>
                        <% } %> <% if(location.yelp) { %>
                        <li class="link-list web-links">
                          <i class="fab fa-yelp circle-icon"></i>
                          <strong>&nbsp &nbspYelp</strong>
                          <a href="<%= location.yelp %>"> - <%= location.yelp %></a>
                        </li>

                        <% } %>
                        <hr> 
              
            </div>

        </div>
        <p><%= location.description %></p>
        <hr>

      </div>
    </div>
    <div class="col-md-5">
      <p class="lead">Info</p>
      <div class="list-group">
        <li class="list-group-item info-list">
          <i class="fas fa-map-signs info-icons"></i>
          <p><%= location.neighborhood %></p>
        </li>
        <li class="list-group-item info-list">
          <i class="fas fa-map-marker-alt info-icons"></i>

          <p class="address-show">
              <address>
                <%= location.address.street %><br />
                <span id="city-state-zip">
                        <%= location.address.city %>&nbsp<%= location.address.state
                        %>,&nbsp<%= location.address.zip %> 
                </span>       
              </address>
          </p>
        </li>
        <li class="list-group-item info-list">
          <i class="fas fa-phone info-icons"></i>
          <p><%= location.phoneNumber %></p>
        </li>
      </div>
      <p class="lead">Keto Options</p>
      <div class="list-group">
        <li class="list-group-item">Option 1</li>
        <li class="list-group-item">Option 2</li>
        <li class="list-group-item">Option 3</li>
      </div>
    </div>
  </div>

</div>

<%- include ('../partials/footer') -%>

