<%- include ('../partials/header') -%>

<!-- page container -->
<div class="container" id="show-container">

    <!-- row 1 -->
    <div class="row">

        <!-- left side -->
        <div class="col-md-7">

            <!-- img, info and description  -->
            <div class="thumbnail col">
                <img class="img-fluid mb-4" src="<%= location.image %>" alt="" />
                <div class="caption-full">
                    <h3 class="raleway font-weight-bold"><a href=""><%= location.name %></a></h3>
                    <% if (currentUser) { %>
                    <div id="edit-delete-buttons">
                        <a class="btn btn-sm btn-dark raleway mb-2 my-buttons" href="/locations/<%= location._id %>/edit">Edit</a>
                        <form class="delete-form" action="/locations/<%= location._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-dark raleway mb-2 my-buttons">Delete</button>
                        </form>        
                    </div>
                    <% } %>
                    <!-- type, serves and kids -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <h6 class="type-kids-open"><%= location.restaurantType %>:  &nbsp<%= location.foodType %></h6>
                                <h6 class= "type-kids-open">Serves: &nbsp<%= location.serves %></h6>
                            </div>
                            <div class="col-xs-6">
                                <h6 class="ml-5 type-kids-open">Open:  &nbsp<%= location.daysOpen %></h6>
                                <h6 class="ml-5 type-kids-open">Kid friendly:  &nbsp<%= location.kids %></h6>
                            </div>
                        </div>                     
                    </div>
                    <hr>
                    <!-- type, serves and kids end -->

                    <!-- description -->
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p><%= location.description %></p>
                            </div>
                        </div>
                    </div>
                    <!-- description end -->
                    
                    <hr>                      
                </div>
            </div>
            <!-- img, info and description end -->
            

        </div>
        <!-- left side end -->

        <!-- right side -->
        <div class="col-md-5">

            <!-- info, menu, links, map -->
            <div class="col">

                <!-- links -->
                <p class="lead raleway font-weight-bold">Links</p>
                <div class="list-group list-group-flush mb-4">
                    <li class="list-group-item">
                        <i class="fas fa-globe mr-3"></i>
                        <a href="<%= location.website %>"><%= location.website %></a>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-utensils circle-icon mr-3"></i>
                        <a href="<%= location.menu %>"><%= location.menu %></a>
                    </li>
                    <li class="list-group-item">
                        <i class="fab fa-yelp circle-icon mr-3 text-danger"></i>
                        <a href="<%= location.yelp %>"><%= location.yelp %></a>
                    </li>
                </div>
                <!-- links end -->

                <!-- info -->
                <p class="lead raleway font-weight-bold">Info</p>
                <div class="list-group list-group-flush mb-4">
                    <li class="list-group-item info-list">
                        <i class="fas fa-map-signs mr-3"></i>
                        <p><%= location.neighborhood %></p>
                    </li>
                    <li class="list-group-item info-list">
                        <i class="fas fa-map-marker-alt mr-3"></i>
                        <p class="address-show">
                            <% if ((location.address.city) && (location.address.state) && (location.address.zip)) { %>
                            <address>
                                <%= location.address.street %><br />
                                <span id="city-state-zip">
                                    <%= location.address.city %>&nbsp<%= location.address.state %>&nbsp<%= location.address.zip %> 
                              </span>  
                            </address>
                            <% } %>     
                        </p>
                    </li>
                    <li class="list-group-item info-list">
                        <i class="fas fa-phone mr-3"></i>
                        <p><%= location.phoneNumber %></p>
                    </li>
                </div>
                <!-- info end -->

                <!-- menu -->
                <p class="lead raleway font-weight-bold">Keto Options</p><br>
                <% if (currentUser) { %>
                <a class="btn btn-sm btn-dark raleway mt-2 mb-2 my-buttons" href="/locations/<%= location._id %>/keto-options/new">Add Keto Option</a>
                <% } %>
                <div class="list-group list-group-flush mb-4">
                    <li class="list-group-item">Option 1</li>
                    <li class="list-group-item">Option 2</li>
                    <li class="list-group-item">Option 3</li>
                </div>
                <!-- menu end -->

            
              </div>
              <!-- info, menu, links, map end -->
          
            </div>
          <!-- right side end -->

      </div>
      <!-- row 1 end -->

      <!-- row 2 -->
      <div class="row mt-1">

          <div class="col">
              <!-- comments -->
              <div class="well col-md-7">
                  <!--Accordion wrapper-->
                  <div class="accordion md-accordion bg-white" id="accordionEx" role="tablist" aria-multiselectable="true">

                      <!-- Accordion card -->
                      <div class="card">
      
                          <!-- Card header -->
                          <div class="card-header" role="tab" id="headingOne1">
                              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                              aria-controls="collapseOne1">
                                  <h6 class="mb-0 raleway font-weight-bold">
                                      <i class="far fa-comments"></i>
                                      Comments &nbsp
                                      <span id="comments-view-hide">view/hide</span>
                                  </h6>
                                  <a class="btn btn-sm btn-dark raleway mt-2 my-buttons" href="/locations/<%= location._id %>/comments/new">Add Comment</a>
                              </a>
                          </div>
                          <!-- card header end -->
      
                          <!-- Card body -->
                          <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                            data-parent="#accordionEx" >
                              <div class="card-body" id="comments-card">
                                  <!-- show all comments for location -->
                                  <% location.comments.forEach(function(comment){ %>
                                  <p><%= comment.text %></p><br>
                                  <div class="text-right">
                                      <p class="font-weight-bold raleway" id="comment-author-date"><%= comment.author.username %></p>
                                      <p> - <%= comment.added.toDateString() %></p><br>
                                      <% if (currentUser) { %>
                                      <a class="btn btn-sm btn-dark raleway mt-2 my-buttons" href="/locations/<%= location._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                      <form class="delete-form" action="/locations/<%= location._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-sm btn-dark raleway mt-2 my-buttons" value="Delete">
                                      </form>                                              
                                      <% } %>
                                  </div>
                                  <hr>
                                  <% }) %>                
                              </div>
                          </div>
                          <!-- card body end -->
      
                      </div>
                      <!-- Accordion card end -->
        
                  </div>
                  <!-- Accordion wrapper end -->
        
              </div>
              <!-- comments end -->

          </div>

      </div>
      <!-- row 2 end -->

</div>
<!-- page container end -->


<%- include ('../partials/footer') -%>

