<%- include ('../partials/header') -%>

<header class="jumbotron">
    <div class="container text-right">
        <h1 class="font-weight-bold">Keto Options</h1>
        <p>View keto friendly menu options from our locations in and around Seattle</p>
        <br>
    </div>
</header>


<div class="container py-5 my-5 z-depth-1">
    <section class="p-md-3 mx-md-5">
        <div class="row">
        <% ketoOptions.forEach(function(ketoOption) { %>
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <div class="avatar white d-flex justify-content-center align-items-center">
                <img
                    src="<%= ketoOption.image %>"
                    class="img-fluid z-depth-1"
                />
            </div>
            <div class="text-center mt-4">
                <h5 class="font-weight-bold pb-1"><%= ketoOption.name %></h5>
                <p class="font-weight-normal"><%= ketoOption.location.name %></p>
                <p class="text-muted mb-lg-0">
                        <%= ketoOption.description %>
                </p>
                <p class="font-weight-normal"><%= ketoOption.price%></p>
                <p class="font-weight-normal"><%= ketoOption.carbs %></p>

            </div>
        </div>
        <% }) %>

        </div>
    </section>
</div>














<%- include ('../partials/footer') -%>
