<%- include ('../partials/header') -%>

<header class="jumbotron">
    <div class="container text-right">
        <h1 class="font-weight-bold">Keto Options</h1>
        <p>View keto friendly menu options from our locations in and around Seattle</p>
        <br>
    </div>
</header>


<div class="container">
        <div class="row">
        <% ketoOptions.forEach(function(ketoOption) { %>
        <div class="col-xl-3 col-md-4 col-sm-6 mb-5">
            <div class="">
                <img
                    src="<%= ketoOption.image %>"
                    class="img-fluid z-depth-5"
                />
            </div>
            <div class="mt-4">
                <div class="text-center">
                    <h5 class="raleway font-weight-bold mb-0"><%= ketoOption.name %></h5>
                    <p class="font-weight-bold raleway" id="keto-loc-name"><%= ketoOption.location.name %></p><br>                            
                </div>
                <div class="text-center">
                    <p class="text-muted mb-lg-0" id="keto-desc">
                            <%= ketoOption.description %>
                    </p><br>   
                </div>
                <div class="text-center price-carbs-index">
                        <p class="mr-3"><span class="font-weight-bold raleway">Price:</span> &nbsp<%= ketoOption.price%></p>
                        <p class="ml-3"><span class="font-weight-bold raleway">Carbs:</span> &nbsp<%= ketoOption.carbs %></p>         
                </div>

            </div>
        </div>
        <% }) %>

        </div>
</div>


 











<%- include ('../partials/footer') -%>
