<%- include ('../partials/header') -%>

<header class="jumbotron">
    <div class="container text-right">
        <h1 class="font-weight-bold">Keto Options</h1>
        <p>View keto friendly menu options from our locations in and around Seattle</p>
        <br>
    </div>
</header>


<div class="container">
    <section class="">
        <div class="row">
        <% ketoOptions.forEach(function(ketoOption) { %>
        <div class="col-lg-4 col-md-6 mb-5">
            <div class="avatar white d-flex justify-content-center align-items-center">
                <img
                    src="<%= ketoOption.image %>"
                    class="img-fluid z-depth-5"
                />
            </div>
            <div class="mt-4">
                <h5 class="raleway font-weight-bold text-center"><%= ketoOption.name %></h5>
                <p class="font-weight-normal" id="keto-loc-name"><%= ketoOption.location.name %></p><br>                    
                <p class="text-muted mb-lg-0" id="keto-desc">
                        <%= ketoOption.description %>
                </p><br>
                <p class="font-weight-normal ">Price: &nbsp<%= ketoOption.price%></p>
                <p class="font-weight-normal">Carbs: &nbsp<%= ketoOption.carbs %></p>

            </div>
        </div>
        <% }) %>

        </div>
    </section>
</div>


 











<%- include ('../partials/footer') -%>
